DATABASE_PATH=E:\DATN\data\webgis.sqlite3
CSV_PATH=E:\DATN\quangtri_diemsatlo.csv
CSV_NEW_PATH=E:\DATN\data\inventory_new\quangtri_landslide_new.csv
IMAGE_METADATA_PATH=E:\DATN\data\metadata\quangtri_metadata.csv
PREDICT_IMAGE_URL=https://landslide-api-gpu-304520679688.asia-southeast1.run.app/predict-image
PREDICT_VIDEO_URL=https://landslide-api-gpu-304520679688.asia-southeast1.run.app/predict-video
PREDICT_VIDEO_TIMEOUT_SECONDS=900
PREDICT_VIDEO_MAX_FRAMES=300
PREDICT_VIDEO_FRAME_STRIDE=1
PREDICT_VIDEO_THRESHOLD=0.3
PIXEL_SIZE_M=4.7
DUPLICATE_DISTANCE_M=150
NEW_POINT_SHIFT_KM_MIN=2.0
NEW_POINT_SHIFT_KM_MAX=5.0
QUANG_TRI_CENTER_LAT=16.75
QUANG_TRI_CENTER_LON=107.08
